<!DOCTYPE html>
<html lang="da">
<body>
    <div th:fragment="cat-list" class="cat-list">
        <ul>
            <li th:each="cat : ${cats}">
                <a th:href="@{/cats/{id}(id=${cat.getId()})}">
                    <img class="pfp" th:if="${cat.getImageUrl() != null && !cat.getImageUrl().isEmpty()}" alt="cat profile image" th:src="${cat.getImageUrl()}">
                    <span th:text="${cat.getName()}"></span> (<span th:text="${cat.getPoints()}"></span>)
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
