<!DOCTYPE html>
<html lang="da">
    <body>
        <header th:fragment="header" class="app-header">
            <div class="left"></div>
            <div class="right">
                <span th:if="${currentUser.isEmpty()}">
                    <a href="/login">Log ind</a>
                    <a href="/register">Registrer</a>
                </span>
                <span th:unless="${currentUser.isEmpty()}">
                    <a href="/logout">Log ud</a>
                </span>
            </div>
        </header>
    </body>
</html>