<!DOCTYPE html>
<html lang="da">
    <body>
        <header th:fragment="header" class="app-header">
            <div class="left">
                <a href="/">Forside</a>
                <a href="/users">Alle brugere</a>
                <a href="/cats">Alle katte</a>
            </div>
            <div class="right">
                <th:block th:if="${currentUser.isEmpty()}">
                    <a href="/login">Log ind</a>
                    <a href="/register">Registrer</a>
                </th:block>
                <th:block th:unless="${currentUser.isEmpty()}">
                    <a href="/users/me">Profil</a>
                    <a href="/logout">Log ud</a>
                </th:block>
            </div>
        </header>
    </body>
</html>