<!DOCTYPE html>
<html lang="da" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Brugere</title>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="user-list">
                <ul>
                    <li th:each="user : ${users}">
                        <a th:href="@{/users/{id}(id=${user.getId()})}">
                            <span th:text="${user.getName()}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </body>
</html>
