<!DOCTYPE html>
<html lang="da" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout}">
  <head>
    <meta charset="UTF-8">
    <title th:text="${user.getName()}"></title>
  </head>
  <body>
    <section layout:fragment="content">
      <h1 th:text="${user.getName()}"></h1>
      <form method="post" th:action="${'/users/' + user.getId() + '/edit'}">
        <input type="hidden" name="id" th:value="${user.getId()}">

        <label>
          Navn
          <input type="text" name="name" th:value="${user.getName()}">
        </label>
        <label>
          Email
          <input type="email" name="email" th:value="${user.getEmail()}">
        </label>
        <label>
          Fødselsdag
          <input type="date" name="dateOfBirth" th:value="${user.getDateOfBirth()}">
        </label>
        <label>
          Rolle
          <select name="role" disabled>
            <option th:each="role : ${T(dk.zealandcs.racekatteklubben.domain.Role).values()}"
                    th:value="${role}"
                    th:text="${role}"
                    th:selected="${user.getRole() == role}"></option>
          </select>
        </label>
        <button type="submit">Gem ændringer</button>
      </form>

      <form method="post" th:action="${'/users/' + user.getId() + '/edit/password'}">
        <label>
          Adgangskode
          <input type="password" name="password">
        </label>
        <button type="submit">Opdater adgangskode</button>
      </form>

      <h2>Slet bruger</h2>
      <form method="post" th:action="${'/users/' + user.getId() + '/delete'}">
        <button type="submit">Slet bruger</button>
      </form>
    </section>
  </body>
</html>